<DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
  <div id="container">

      <div id="logo">
        <div class="textcolor">COIL</div>MASTERS
      </div>

    <div id="menu">
      <div class="opcja">Strona główna</div>
      <div class="opcja">Info</div>
      <div class="opcja">Sklep</div>
      <div class="opcja">Poradniki</div>
      <div class="opcja">O nas</div>
      <dive style="clear:both"></div>
    </div>

    <div id="topbar">
        Zapoznaj sie z naszymi produktami i poradnikami zamieszczonymi na serwisie YouTube, napewno pomogą ci lepiej zorientowac sie w temacie.
    </div>

    <div id="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin congue dictum. Sed consequat non orci ac ultricies. Donec ac urna dolor. Cras ex lectus, elementum in viverra nec, vehicula eu tortor. Curabitur a sapien ipsum. Nulla eu metus hendrerit, pulvinar velit vel, aliquet purus. Mauris scelerisque libero in pulvinar lobortis. Vestibulum sollicitudin feugiat dapibus. Donec ac ligula non urna vulputate euismod sit amet quis est.<br />

      Mauris sed libero tincidunt, tempus massa et, elementum ipsum. Donec justo libero, dictum quis posuere id, ultricies at metus. Nulla rhoncus massa vel ligula pellentesque aliquam. Proin a dolor justo. Nam nibh nisi, posuere vel sem vitae, tincidunt semper tellus. Vivamus nulla lacus, sagittis ut nisl ac, faucibus consequat ante. Ut quis venenatis ligula, eget luctus velit. Donec et diam euismod, mollis sapien a, tincidunt nisi. Morbi in ligula sit amet sapien sodales placerat. Curabitur sollicitudin finibus maximus. Pellentesque ac viverra sem. Nam eget magna id enim commodo maximus vitae in tortor.<br />

      Donec sollicitudin risus eu dui tincidunt vestibulum. In quis facilisis orci. Suspendisse gravida tortor ac leo placerat, vel mattis augue rhoncus. Nulla posuere, orci vitae dignissim egestas, arcu mi mattis ex, quis aliquam nibh dolor eu eros. In non congue neque. Maecenas varius eleifend urna nec gravida. In in erat ut augue ultricies blandit. Donec et neque diam. In eu nulla fermentum, molestie velit non, interdum eros. Donec non faucibus libero. Vestibulum cursus placerat lacus, id fermentum est tincidunt in. Vestibulum quis massa sed enim dapibus dignissim. Phasellus condimentum fermentum arcu. Mauris a mi luctus, pellentesque lectus vitae, fringilla ligula.<br />

      Etiam porttitor est et euismod consequat. Nunc id ullamcorper tellus. Fusce aliquam a sapien faucibus efficitur. Donec nec fringilla ex. Nam consequat orci malesuada, aliquet arcu fringilla, commodo ipsum. Sed at nisi sodales, sagittis diam vitae, blandit sapien. Sed dapibus lobortis tellus a facilisis. Cras quis ultrices enim, vel cursus orci.<br />

      Ut egestas lectus metus, ac consectetur ex feugiat sit amet. In semper vehicula neque, sed gravida erat consequat id. Donec purus magna, efficitur sit amet orci et, fermentum dignissim mauris. Phasellus purus justo, efficitur id risus nec, tempor molestie quam. Proin rhoncus arcu odio, in auctor urna aliquam sit amet. Vivamus tempor vel risus at consectetur. Quisque auctor vulputate diam, a convallis elit efficitur sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sed tincidunt neque. Vestibulum consectetur nisl quis metus lobortis feugiat. Duis turpis arcu, mollis nec enim in, tincidunt faucibus nisl. Proin sagittis at odio quis porta.<br />
    </div>
  </div>
  </body>
</html>
